{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="ISO-8859-15">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MaxFilm</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">  
  <link href="{% static 'css/slick.css' %}" rel="stylesheet">
  <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
  <!--<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>-->
</head>
<body>
  <nav class="navbar z-depth-2 red">
    <div class="container ">
      <div class="navbar-header">
        <a class="navbar-brand waves-effect waves-light" href="{%url 'maxfilm:index'%}">MaxFilm</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{%url 'maxfilm:index'%}" class="waves-effect waves-light">Inicio <span class="sr-only">(current)</span></a></li>
          <li><a href="{%url 'maxfilm:Movies'%}" class="waves-effect waves-light">Películas <span class="sr-only">(current)</span></a></li>
          <li><a href="" class="waves-effect waves-light">Series <span class="sr-only">(current)</span></a></li>
        </ul>
        <form class="navbar-form navbar-right waves-effect waves-light" role="search" action="/search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar" name="text" required>
          </div>
        </form>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
  <div class="container">
    <hr>
  </div>
  <footer class="page-footer red darken-1" if="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-offset-1">
          <p class="white-text center-on-small-only">COMENZAR</p>
          <a href="#" class="btn btn-danger waves-effect waves-light">Regístrate!</a>
        </div>
        <hr class="hidden-lg hidden-md">
        <div class="col-md-2">
          <p class="white-text center-on-small-only">ENLACES</p>
          <ul>
            <li><a href="#" data-toggle="modal" data-target="#myModal" class="grey-text text-lighten-3" href="#!">....</a></li>
          </ul>
        </div>
        <hr class="hidden-lg hidden-md">
        <div class="col-md-3 text-center">
          <p class="white-text text-center">REDES SOCIALES</p>
          <a target="_blank" href="#" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
          <a target="_blank" href="#" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
          <a target="_blank" href="#" class="btn-floating btn-large gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="col-md-10 col-md-offset-1"> 2016 <a href="{%url 'maxfilm:index'%}">MaxFilm </a>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function () {
    $('.autoplay').slick({
      infinite: true,
      speed: 500,
      slidesToShow: 5,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000
    });

    $('#tableCrew, #tableCast').DataTable( {
      "order": [[ 0, "desc" ]]
    } );

    {% if genre %}
    $('#genres').children().each(function() {
      if ($(this).attr('id') == "genre" + {{genre}}) {
        $(this).toggleClass('active');
      };
    });
    {% endif %}

    {% if page %}
    $('#pagination').children().each(function() {
      if ($(this).attr('id') == {{page}}) {
        $(this).toggleClass('active');
      };
    });
    {% endif %}
  });
  </script>
</body>
</html>
