{% extends 'maxfilm/base.html' %}

{% block content %}
<div class="container">
  <div class="row page-content">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="card-panel">
          <div class="row">
            <form class="col-md-12">
              <h5>Acceso</h5>
              <br>
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Usuario</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Contraseña</label>
              </div>
            </form>
            <div class="text-center">
              <button type="button" class="btn btn-info waves-effect waves-light">Acceder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="carousel-example-generic" class="carousel slide carousel-fade">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
          </li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for x in slider.results %}
          {% if forloop.first %}
          <div class="item active">
            <img width="848" src="http://image.tmdb.org/t/p/w780/{{x.backdrop_path}}"/>
            <div class="carousel-caption">
              <div data-animation="animated fadeInRightBig">
                <h3 class="h3-responsive"><a href="{%url 'maxfilm:viewMovie' id=x.id%}">{{x.title}}</a></h3>
                <h5 class="h5-responsive"><i class="material-icons prefix">date_range</i> {{x.release_date}}</h5>
              </div>
            </div>
          </div>
          {% else %}
          <div class="item">
            <img width="848" src="http://image.tmdb.org/t/p/w780/{{x.backdrop_path}}"/>
            <div class="carousel-caption">
              <div data-animation="animated fadeInRightBig">
                <h3 class="h3-responsive"><a href="{%url 'maxfilm:viewMovie' id=x.id%}">{{x.title}}</a></h3>
                <h5 class="h5-responsive"><i class="material-icons prefix">date_range</i> {{x.release_date}}</h5>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <a class="left carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="fa fa fa-angle-left waves-effect waves-light"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="fa fa fa-angle-right waves-effect waves-light"></span>
          <span class="sr-only">Previous</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Noticias</h1>
    </div>
    <div class="row text-center">
      {% for new in news.results %}
      {% if forloop.counter <= 12 %}
      <div class="col-md-4">
        <div class="card hoverable" style="height: 535px;">
          <div class="card-image">
            <img src="http://img.tviso.com/XX/notice/w300{{new.image.notice}}" style="height: 271px;">
            <span class="card-title">{{new.title|stringformat:"s"}}</span>
          </div>
          <div class="card-content" style="height: 160px;">
            <p>{{new.short_text|truncatechars:170}}</p>
          </div>
          <div class="card-action">
            <a href="{{new.source}}" target="_blank">
              <button type="button" class="btn btn-info waves-effect waves-light">Ver Noticia</button>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}