{% extends 'maxfilm/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Series</h1>
        </div>
    </div>
    <div class="row page-content">
        <div class="col-md-3">
            <div class="collection z-depth-2" id="status">
                <a class="collection-item blue text-center"><h4 class="white-text">Estado</h4></a>
                <a id="on_the_air" class="collection-item" href="?query=on_the_air">En Emisión</a>
                <a id="airing_today" class="collection-item" href="?query=airing_today">Se Emiten Hoy</a>
                <a id="top_rated" class="collection-item" href="?query=top_rated">Mejor Valoradas</a>
                <a id="popular" class="collection-item" href="?query=popular">Populares</a>
            </div>
            <div class="collection z-depth-2" id="genres">
                <a class="collection-item blue text-center"><h4 class="white-text">Géneros</h4></a>
                {% for genre in genres %}
                <a id="genre_{{genre.id}}" class="collection-item" href="?genre={{genre.id}}">{{genre.name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            {% for tv in tv %}
            <div class="col-md-3">
                <div class="card hoverable text-center" style="height:540px">
                    <div class="card-image">
                        <img height="278" src="http://image.tmdb.org/t/p/w185/{{tv.poster_path}}" onerror="this.src='{% static 'img/default.png' %}';"/>
                    </div>
                    <div class="card-content" style="height:130px">
                        <p><b>{{tv.name|truncatechars:40}}</b></p>
                    </div>
                    <div class="card-action text-center">
                        <a href="{%url 'maxfilm:viewTv' id=tv.id%}" class="btn btn-default waves-effect waves-light center-block">Mostrar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-10 col-md-offset-3">
                    <ul class="pagination pag-circle" id="pagination">
                        {% if flag %}
                        {% if result %}
                        <li><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li id="1"><a href="{{request.get_full_path}}&page=1">1</a></li>
                        <li id="2"><a href="{{request.get_full_path}}&page=2">2</a></li>
                        <li id="3"><a href="{{request.get_full_path}}&page=3">3</a></li>
                        <li id="4"><a href="{{request.get_full_path}}&page=4">4</a></li>
                        <li id="5"><a href="{{request.get_full_path}}&page=5">5</a></li>
                        <li id="6"><a href="{{request.get_full_path}}&page=6">6</a></li>
                        <li id="7"><a href="{{request.get_full_path}}&page=7">7</a></li>
                        <li id="8"><a href="{{request.get_full_path}}&page=8">8</a></li>
                        <li id="9"><a href="{{request.get_full_path}}&page=9">9</a></li>
                        <li id="10"><a href="{{request.get_full_path}}&page=10">10</a></li>
                        <li><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        {% else %}
                        <li><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li id="1"><a href="{{request.get_full_path}}&page=1">1</a></li>
                        <li id="2"><a href="{{request.get_full_path}}&page=2">2</a></li>
                        <li id="3"><a href="{{request.get_full_path}}&page=3">3</a></li>
                        <li id="4"><a href="{{request.get_full_path}}&page=4">4</a></li>
                        <li id="5"><a href="{{request.get_full_path}}&page=5">5</a></li>
                        <li id="6"><a href="{{request.get_full_path}}&page=6">6</a></li>
                        <li><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                        {% else %}
                        <li><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li id="1"><a href="{{request.get_full_path}}?query=popular&page=1">1</a></li>
                        <li id="2"><a href="{{request.get_full_path}}?query=popular&page=2">2</a></li>
                        <li id="3"><a href="{{request.get_full_path}}?query=popular&page=3">3</a></li>
                        <li id="4"><a href="{{request.get_full_path}}?query=popular&page=4">4</a></li>
                        <li id="5"><a href="{{request.get_full_path}}?query=popular&page=5">5</a></li>
                        <li id="6"><a href="{{request.get_full_path}}?query=popular&page=6">6</a></li>
                        <li id="7"><a href="{{request.get_full_path}}?query=popular&page=7">7</a></li>
                        <li id="8"><a href="{{request.get_full_path}}?query=popular&page=8">8</a></li>
                        <li id="9"><a href="{{request.get_full_path}}?query=popular&page=9">9</a></li>
                        <li id="10"><a href="{{request.get_full_path}}?query=popular&page=10">10</a></li>
                        <li><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}