{% extends 'maxfilm/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row page-content">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="card-panel">
          <div class="row text-center">
            <img class="center-block" src="http://image.tmdb.org/t/p/w185/{{x.poster.filename}}">
            <br>
            <p><b>Marcar como:</b></p>
            <a class="btn btn-info waves-effect waves-light">Recomendada</a>
            <a class="btn btn-success waves-effect waves-light">Vista</a>
            <a class="btn btn-warning waves-effect waves-light">Pendiente</a>
          </div>
        </div>
        <br>
      </div>
      <ul class="collection with-header">
        <li class="collection-header text-center blue"><h5 class="white-text">Información</h5></li>
        <li class="collection-item"><b>Título Original:</b> {{x.originaltitle}}</li>
        <li class="collection-item"><b>Estreno:</b> {{x.releasedate}}</li>
        <li class="collection-item"><b>Duración en minutos:</b>  {{x.runtime}}</li>
        <li class="collection-item"><b>Presupuesto:</b> ${{x.budget|intcomma}}</li>
        <li class="collection-item"><b>Ingresos:</b> ${{x.revenue|intcomma}}</li>
        <li class="collection-item"><b>Web Oficial:</b> <a href="{{x.homepage}}"><i class="material-icons prefix">home</i></a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <h3 class="page-header">{{x.title}} - {{x.releasedate.year}}</h3>
      <div class="row text-center">
        <div class="well text-justify">{{x.overview}}</div>
        <div class="col-md-10 col-md-offset-1">
          <div class="panel-group" id="accordion">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Géneros</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                  {% for genre in x.genres %}
                  {{genre.name}}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Personal de producción</a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-md-10 col-md-offset-1">
                    <ul class="collection">
                      {% for crew in x.crew %}
                      <li class="collection-item avatar">
                        <img style="height: 68px !important; width: 45px !important" src="{% static 'img/user.png' %}" alt="" class="circle">
                        <span class="title">{{crew.name}}</span>
                        <p>{{crew.job}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Reparto</a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-md-10 col-md-offset-1">
                    <ul class="collection">
                      {% for cast in x.cast %}
                      <li class="collection-item avatar">
                        <img style="height: 68px !important; width: 45px !important" src="{% static 'img/user.png' %}" alt="" class="circle">
                        <span class="title">{{cast.name}}</span>
                        <p>{{cast.character}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          <iframe width="700" height="360" src="https://www.youtube.com/embed/{{z}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <br><br>
      <div class="panel panel-success">
        <div class="panel-heading">Películas similares</div>
        <div class="panel-body">
          <div class="row">
            {% for similar in y %}
            <div class="col-md-2">
              <div class="thumbnail" style="height:234px;">
                <img src="http://image.tmdb.org/t/p/w185/{{similar.poster.filename}}">
                <div class="caption text-center">
                  <h6><a href="{%url 'maxfilm:viewItem' id=similar.id%}">{{similar.title|truncatechars:25}}</a></h6>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}