{% extends 'maxfilm/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
{% if images %}
<div class="row center-block" style="background-image: url(http://image.tmdb.org/t/p/original/{{images.file_path}}); background-size: cover; background-position: 50% 10%; width: 100%; height: 550px; margin-top: -2%; margin-bottom: -13%;"></div>
{% endif %}
<div class="container">
  <div class="row page-content">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="card-panel">
          <div class="row text-center">
            <img class="center-block" src="http://image.tmdb.org/t/p/w185/{{person.profile_path}}" onerror="this.src='{% static 'img/noprofile.jpg' %}';"/>
          </div>
        </div>
        <br>
      </div>
      <ul class="collection with-header">
        <li class="collection-header text-center blue"><h5 class="white-text">Información</h5></li>
        <li class="collection-item"><b>Fecha nacimiento:</b> {% if person.birthday %}{{person.birthday}}{% else %}-{% endif%}</li>
        <li class="collection-item"><b>Fecha fallecimiento:</b> {% if person.deathday %}{{person.deathday}}{% else %}-{% endif%}</li>
        <li class="collection-item"><b>Lugar de nacimiento:</b> {% if person.place_of_birth %}{{person.place_of_birth}}{% else %}-{% endif%}</li>
        <li class="collection-item"><b>Web Oficial:</b> <a href="{{person.homepage}}"><i class="material-icons prefix">home</i></a></li>
      </ul>
    </div>
    <div class="col-md-9">
      {% if images %}
      <h3 class="page-header text-red" style="color: white; font-weight: normal;">{{person.name}}</h3>
      {% else %}
      <h3 class="page-header text-red" style="font-weight: normal;">{{person.name}}</h3>
      {% endif %}
      <br><br><br>
      <div class="row text-center">
        <div class="well text-justify">{% if person.biography %}{{person.biography}}{% else %}Sin biografía{% endif %}</div>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#crew">Produciendo <span id="badgeCrew" class="badge red"></span></a></li>
          <li><a data-toggle="tab" href="#cast">Actuando <span id="badgeCast" class="badge blue"></span></a></li>
        </ul>
        <div class="tab-content">
          <div id="crew" class="tab-pane fade in active table">
            <br>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped" id="tableCrew">
                  <thead>
                    <tr>
                      <th class="text-center">Año</th>
                      <th class="text-center">Título</th>
                      <th class="text-center">Trabajo</th>
                      <th class="text-center">Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for crew in credits.crew %}
                    {% if crew.release_date and crew.title and crew.job and crew.media_type %}
                    <tr>
                      <td>{{crew.release_date|slice:"4"}}</td>
                      <td>
                        {% if crew.media_type == "movie"%}
                        <a href="{%url 'maxfilm:viewMovie' id=crew.id%}">{{crew.title}}</a>
                        {% else %}
                        <a href="{%url 'maxfilm:viewTv' id=crew.id%}">{{crew.title}}</a>
                        {% endif %}
                      </td>
                      <td>{{crew.job}}</td>
                      <td>{{crew.media_type}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="cast" class="tab-pane fade">
            <br>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <table class="table table-striped" id="tableCast" style="width: 100%">
                  <thead>
                    <tr>
                      <th class="text-center">Año</th>
                      <th class="text-center">Título</th>
                      <th class="text-center">Personaje</th>
                      <th class="text-center">Tipo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for crew in credits.cast %}
                    {% if crew.release_date and crew.title and crew.character and crew.media_type %}
                    <tr>
                      <td>{{crew.release_date|slice:"4"}}</td>
                      <td>
                        {% if crew.media_type == "movie"%}
                        <a href="{%url 'maxfilm:viewMovie' id=crew.id%}">{{crew.title}}</a>
                        {% else %}
                        <a href="{%url 'maxfilm:viewTv' id=crew.id%}">{{crew.title}}</a>
                        {% endif %}
                      </td>
                      <td>{{crew.character}}</td>
                      <td>{{crew.media_type}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}